




<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>



<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="create" class="nav-link" routerLinkActive="active">
          Crear Productos
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="index" class="nav-link" routerLinkActive="active">
          Lista de Productos
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!--  
<html>
<body>
<form>

<input type="text" class="txt" name="item" placeholder="Life goal.." [(ngModel)]="producto">

<input type="submit" class="btn" value="agregar producto" (click)="addItem()">

<br><span>{{ goalText }}</span><br>
  </form>
  <p class="life-container" *ngFor="let p of lista_productos">
    {{ p }}
  </p>
</body>
</html>
-->
